table.buildsListTable {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
}

table.buildsListTable th {
    background-color: #f5f5f5;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

table.buildsListTable th,
table.buildsListTable td {
    border-bottom: 1px solid #ccc;
    padding: .3em 0 .3em 0.3em;
    vertical-align: top;
}

table.buildsListTable td:last-child {
    width: 40%;
}
